* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textContainer {
    width: 75%;
    margin: auto;
    font-size: 2rem;
    color: #cbcbcb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.word {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#cursor {
    display: inline-block;
    width: 0;
    border-left: 2px solid #818181;
    height: 1em;
    animation: blink 0.5s step-end infinite;
    vertical-align: bottom;
}

@keyframes blink {
    from, to {
        border-color: #818181;
    }
    50% {
        border-color: transparent;
    }
}

::selection {
    background: yellow;
}