* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minimal {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.75rem;
}

#banner, #stopwatch {
    height: 20%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #818181;
}

#textContainer {
    width: 75%;
    margin-top: 2rem;
    font-size: 2rem;
    color: #cbcbcb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.word {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#cursor {
    display: inline-block;
    width: 0;
    border-left: 2px solid #818181;
    height: 1em;
    animation: blink 0.5s step-end infinite;
    vertical-align: bottom;
}

#wpm, #accuracy {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #818181;
}

@keyframes blink {
    from, to {
        border-color: #818181;
    }
    50% {
        border-color: transparent;
    }
}

::selection {
    background: yellow;
}